@import url('https://fonts.googleapis.com/css?family=Averia+Serif+Libre|Bubblegum+Sans|Caveat+Brush|Chewy|Lobster+Two');

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #0d0e0d;
}

.pages {
  color: #020303;
  text-align: right;
  /* font-size: 3.5rem; */
  
}
.banner img{
  height: 500px;
  width: 100%;
  
}
.bnr_text {
	padding-top: 138px;
	padding-bottom: 230px;
	/* font-family: 'Arimo'; */
	color: #fff;
  
}

.bnr_text h1 {
	font-weight: 700;
	font-size: 52px;
	text-transform: uppercase;
	padding-bottom: 10px;
  font-family:  Georgia, 'Times New Roman', Times, serif;
}

.bnr_text h1 span {
	font-weight: 400;
	font-size: 40px;
	display: block;

}

.bnr_text p {
	font-weight: 400;
	font-size: 14px;
	padding-bottom: 60px;
	padding-right: 510px;
}

.bnr_text a {
	text-decoration: none;
	color: #fff;
	font-size: 20px;
	font-weight: 400;
	display: inline-block;
	padding: 13px 22px;
	border-radius: 5px;
	margin-right: 20px;
	background: #2d3e50;
	transition: all linear .5s;
	-webkit-transition: .5s;
	-moz-transition: .5s;
	-o-transition: .5s;
	-ms-transition: .5s;
}

.bnr_text a:hover {
	background: #fbaa33;
}
.btn {
  background-color: red;
  font-size: medium;
  /* font-family: Arial, Helvetica, sans-serif; */
  padding: 10px 20px;
  margin:3rem 1rem 6rem;
  border-radius: 1rem;
  border-color: black;
  border-style: none;
  margin-bottom:10%;
}

.click{
  background-color: blue;
  padding:0.5rem 1.5rem;
  font-size: 15px;
  
  border-radius: 0.5rem;
}
.bnr_text {
  
  background-color: rgba(0,0,0, 0.4);
  color: white;
  /* font-weight: bold; */
  border: 3px solid #f1f1f1;
  position: absolute;
  top: 20rem;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 90%;
  padding: 90px 0px 0px 90px;
  text-align: left;
  /* font-size: x-small; */
  height: 505px;
  width: 100%;
  
}
.column {
  float: left;
  width: 33.33%;
  padding: 5px;
  text-align: left;
}
.content{
  margin: 20px 30px 20px 30px;
  /* padding-left: 30px; */
}

/* Clearfix (clear floats) */
.row::after {
  content: "";
  clear: both;
  display: table;
}

.column img{
  height: 50px;
  width: 100%;
  /* margin-left: 30px; */
}

@media screen and (max-width: 500px) 
{
  .column {
    width: 100%;
  }
}

 
/**********************************/
/********** servicess section *****/
/**********************************/
 

.services{
  padding-bottom: 50px;
  margin-left: 4rem;
}
.services h2{
  text-align: center;
  padding: 50px 0px 40px;
  /* width: 100%; */
}
.column {
  float: left;
  width: 32%;
  padding: 10px 30px;
  
}
.btn_services{
  padding: 4px 9px;
  border-style: none;
  border-radius: 0.5rem;
  font-size: 12px;
  background-color: black;
}

/* Remove extra left and right margins, due to padding */
.row {margin: 0 -5px;}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive columns */
@media screen and (max-width: 600px) {
  .column {
    width: 83%;
    display: block;
    margin-bottom: 20px;
  }
}

/* Style the counter cards */
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 16px;
  /* margin-left:300px ; */
  background-color: #f1f1f1;
  text-align: center;
  padding-bottom: 15px;
}
.card h4{
  padding-top: 10px;
  font-family:Georgia, 'Times New Roman', Times, serif;

}
.card p{
  text-align:center;
  font-size: x-small;
  padding-top: 10px;
}

/* footer */
.footer-content{
  background: #222;
  padding: 0 5% ;
  padding-top: 2%;
}
.footer_container{
  width: auto;
  margin-top: 2rem;
  /* margin-left: 4%; */
  text-align:left;
  background-color: black;
}
.items li{
  list-style: none;
  line-height: 2;
}
.items a{
  text-decoration: none;
  color: #ccc;
}
.footer-content{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
}

.items .logo{
  text-transform: capitalize;
  font-size: 1.4em;
  color: #b6b6b6;
}

.items h3{
  position: relative;
  font-size: 1.3em;
  margin-bottom: 1rem;
  color: aliceblue;
}

.fa {
  padding: 5px;
  font-size: 15px;
  width: 25px;
  margin: 5px;
}
.fa-facebook {
  background: #3B5998;
  color: white;
  border-radius: 0.5rem;
}
.fa-twitter {
  background: #55ACEE;
  color: white;
  border-radius: 0.5rem;
}
.fa-linkedin {
  background: #007bb5;
  color: white;
  border-radius: 0.5rem;
}
.fa-youtube {
  background: #bb0000;
  color: white;
  border-radius: 0.5rem;
}
.fa-instagram {
  background: #125688;
  color: white;
  border-radius: 0.5rem;  
}
 
.fa:hover {
  opacity: 0.2;
  color: red;
}
footer .end{
  text-align: center;
  padding: 20px 0 0 0;
}
@media (max-width:640px){
  .items{
  flex-basis: 100%;
  margin: auto;
}

}


/**********************************/
/********** slider section ********/
/**********************************/


.sliders{
  background-color: black;
  margin:0 5%;
  height: 50%;
}
.sliders img{
  /* padding-left: 20%; */
  /* margin-right: 10%; */
  margin-left: 20%;
  border-radius: 4.7rem;
 
}
.sliders h2{
  text-align: center;
  padding: 5% 0;
}
.sliders h4{
  padding-right: 6.8rem;
  padding-bottom: 5%;
}
.sliders p{
  text-align: center;
  padding-right: 1rem;
  
}
.sliders a{
  padding:2px 5px;
  font-size:14px;
  background-color: rgb(49, 44, 44);
  margin-right: 40%;
  border-style:none;
  /* border-color:yellow; */
  border-radius: 5rem;
}
/* @media screen and (max-width: 600px) {
  .slider {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
} */

/* .slider_card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 20px;
  text-align: center;
  background-color: #f1f1f1;
  border-radius: 3rem;
}  */
/* .submits{
  margin-left: 47%;
  margin-top: 1rem;
} */

/**********************************/
/******* appointment section ******/
/**********************************/

.appointment-form{
  position: absolute;
  margin-top: 20%;
  margin-left: 25%;
}
.appointment-content{
  position: relative;
}
 
input[type=text], select, textarea {
  width: 10rem;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

input[type=submit] {
  background-color: #04AA6D;
  color: white;
  padding: 12px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: left;
  
}

input[type=submit]:hover {
  background-color: #45a049;
}

.form_container {
  border-radius: 5px;
  background-color: #f2f2f2;
}

.col-25 {
  float: left;
  width: 10rem;
  margin-top: 6px;
}

.col-75 {
  float: left;
  width: 10rem;
  margin-top: 6px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .col-25, .col-75, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}
.field{
  /* color: blue; */
  text-align: left;
  padding: 5rem  ;
  padding-bottom: 2rem;
  /* max-width: 100%; */
  /* margin-left: 10%; */

}
.submit{
  width: auto;
  margin-top: 2rem;
}

.form_container h2{
  text-align: center;
  padding-top: 4rem;
  font-size: 30px;
}

/**********************************/
/********** ABOUT US  section *****/
/**********************************/
.timeline {
  position: relative;
  max-width: 100%;
  margin: 0 -8rem;
}
.content img{
  height: 3rem;
}
/* The actual timeline (the vertical ruler) */
.timeline::after {
  content: '';
  position: absolute;
  width: 6px;
  background-color: white;
  top: 0;
  bottom: 0;
  left: 60%;
  margin-left: -5px;
}

/* Container around content */
.container {
  padding: 10px 40px;
  position: relative;
  background-color: inherit;
  width:45%;
  margin-left: 8rem;
}

/* The circles on the timeline */
.container::after {
  content: '';
  position: absolute;
  width: 25px;
  height: 25px;
  right: -17px;
  background-color: white;
  border: 4px solid #FF9F55;
  top: 15px;
  border-radius: 50%;
  z-index: 1;
}

/* Place the container to the left */
.left {
  left: 0;
}

/* Place the container to the right */
.right {
  left: 55%;
}

/* Add arrows to the left container (pointing right) */
.left::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  right: 30px;
  border: medium solid white;
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent white;
}

/* Add arrows to the right container (pointing left) */
.right::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  left: 30px;
  border: medium solid white;
  border-width: 10px 10px 10px 0;
  border-color: transparent white transparent transparent;
}

/* Fix the circle for containers on the right side */
.right::after {
  left: -16px;
}

/* The actual content */
.content {
  padding: 20px 30px;
  background-color: white;
  position: relative;
  border-radius: 6px;
  text-align: left;
}

/* Media queries - Responsive timeline on screens less than 600px wide */
@media screen and (max-width: 600px) {
  /* Place the timelime to the left */
  .timeline::after {
  left: 31px;
  }
  
  /* Full-width containers */
  .container {
  width: 100%;
  padding-left: 70px;
  padding-right: 10px;
  }
  
  /* Make sure that all arrows are pointing leftwards */
  .container::before {
  left: 60px;
  border: medium solid white;
  border-width: 10px 10px 10px 0;
  border-color: transparent white transparent transparent;
  }

  /* Make sure all circles are at the same spot */
  .left::after, .right::after {
  left: 15px;
  }
  
  /* Make all right containers behave like the left ones */
  .right {
  left: 0%;
  }
}

 
/**********************************/
/********** CONTACT section *******/
/**********************************/


/* @import url(https://fonts.googleapis.com/css?family=Open+Sans:400italic,400,300,600); */

.contact_container{
	max-width:400px;
	width:100%;
	margin:0 auto;
	position:relative;
  text-align: left;
}

#contact input[type="text"], #contact input[type="email"], #contact input[type="tel"], #contact input[type="url"], #contact textarea, #contact button[type="submit"] { font:400 12px/16px "Open Sans", Helvetica, Arial, sans-serif; }

#contact {
	background:#F9F9F9;
	padding:25px;
	margin:50px 0;
}

#contact h3 {
	color: #F96;
	display: block;
	font-size: 30px;
	font-weight: 400;
}

#contact h4 {
	margin:5px 0 15px;
	display:block;
	font-size:13px;
}

fieldset {
	border: medium none !important;
	margin: 0 0 10px;
	/* min-width: 100%; */
	padding: 0;
	width: 100%;
}

#contact input[type="text"], #contact input[type="email"], #contact input[type="tel"], #contact input[type="url"], #contact textarea {
	width:100%;
	border:1px solid #CCC;
	background:#FFF;
	margin:0 0 5px;
	padding:10px;
}

 #contact textarea:hover {
	-webkit-transition:border-color 0.3s ease-in-out;
	-moz-transition:border-color 0.3s ease-in-out;
	transition:border-color 0.3s ease-in-out;
	border:1px solid #AAA;
}

#contact textarea {
	height:100px;
	max-width:100%;
  resize:none;
}

#contact button[type="submit"] {
	cursor:pointer;
	width:100%;
	border:none;
	background:#0CF;
	color:#FFF;
	margin:0 0 5px;
	padding:10px;
	font-size:15px;
}

#contact button[type="submit"]:hover {
	background:#09C;
	-webkit-transition:background 0.3s ease-in-out;
	-moz-transition:background 0.3s ease-in-out;
	transition:background-color 0.3s ease-in-out;
}

#contact button[type="submit"]:active { box-shadow:inset 0 1px 3px rgba(0, 0, 0, 0.5); }

#contact input:focus, #contact textarea:focus {
	outline:0;
	border:1px solid #999;
}
::-webkit-input-placeholder {
 color:#888;
}
:-moz-placeholder {
 color:#888;
}
::-moz-placeholder {
 color:#888;
}
:-ms-input-placeholder {
 color:#888;
}

/**********************************/
/********** LIVE section *******/
/**********************************/

#rig {
  /* max-width:900px; */
  /* margin:0 auto; */
  /* padding:0; */
  /* font-size:0;  */
  margin-top: 1rem;
  list-style:none;
  background-color:#000;
}
#rig li {
  display: inline-block;
  /* *display:inline; */
  width:25%;
  vertical-align:middle;
  box-sizing:border-box;
  /* margin:0; */
  padding:0;
  text-align: left;
}
      
#rig h1{
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 3rem;
  text-align: center;
  padding: 3rem 0rem 3rem;
}
/* The wrapper for each item */

   
/* If have the image layer */
.rig-video {
  /* display:block; */
  /* width: 100%; */
  /* height: auto; */

  border:none;
  transform:scale(1);
  transition:all 1s;
}

#rig li:hover .rig-video {
  transform:scale(1.05);
}
      
/* If have the overlay layer */
.rig-overlay {
  position: absolute;
  display:block;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  background-size:50px 50px;
  opacity:0;
  filter:alpha(opacity=0);
  transition:all 0.6s;
}
#rig li:hover .rig-overlay {
  opacity:0.8;
}

/* If have captions */
.rig-text {
  display:block;
  padding:0 30px;
  box-sizing:border-box;
  position:absolute;
  left:0;
  width:100%;
  text-align:center;
  text-transform:capitalize;
  font-size:18px;
  font-weight:bold;
  font-family: 'Oswald', sans-serif;
  font-weight:normal!important;
  top:40%;
  color:white;
  opacity:0;
  filter:alpha(opacity=0);/*For older IE*/
  transform:translateY(-20px);
  transition:all .3s;
}
#rig i{
  color: wheat;
}


/* .fa-heart{
  margin-left: 10rem;
} */
#rig li:hover .rig-text {
  transform:translateY(0px);
  opacity:0.9;
}

@media (max-width: 9000px) {
  #rig li {
      width:25%;
  }
}

@media (max-width: 700px) {
  #rig li {
      width:33.33%;
  }
}

@media (max-width: 550px) {
  #rig li {
      width:50%;
  }
}

/*****************************/
/*****************************/
      /* Video page */
/*****************************/
/*****************************/
/**
 * Oscuro: #283035
 * Azul: #03658c
 * Detalle: #c7cacb
 * Fondo: #dee1e3
 ----------------------------------*/
 * {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

a {
  color: #03658c;
  text-decoration: none;
}

ul {
 list-style-type: none;
}

body {
 font-family: 'Roboto', Arial, Helvetica, Sans-serif, Verdana;
 background: #dee1e3;
}

/** ====================
* Lista de Comentarios
=======================*/
.comments-container {
 margin: 60px auto 15px;
 width: 768px;
}

.comments-container h1 {
 font-size: 36px;
 color: #283035;
 font-weight: 400;
}

.comments-container h1 a {
 font-size: 18px;
 font-weight: 700;
}

.comments-list {
 margin-top: 30px;
 position: relative;
}

/**
* Lineas / Detalles
-----------------------*/
.comments-list:before {
 content: '';
 width: 2px;
 height: 100%;
 background: #c7cacb;
 position: absolute;
 left: 32px;
 top: 0;
}

.comments-list:after {
 content: '';
 position: absolute;
 background: #c7cacb;
 bottom: 0;
 left: 27px;
 width: 7px;
 height: 7px;
 border: 3px solid #dee1e3;
 -webkit-border-radius: 50%;
 -moz-border-radius: 50%;
 border-radius: 50%;
}

.reply-list:before, .reply-list:after {display: none;}
.reply-list li:before {
 content: '';
 width: 60px;
 height: 2px;
 background: #c7cacb;
 position: absolute;
 top: 25px;
 left: -55px;
}


.comments-list li {
 margin-bottom: 15px;
 display: block;
 position: relative;
}

.comments-list li:after {
 content: '';
 display: block;
 clear: both;
 height: 0;
 width: 0;
}

.reply-list {
 padding-left: 88px;
 clear: both;
 margin-top: 15px;
}
/**
* Avatar
---------------------------*/
.comments-list .comment-avatar {
 width: 65px;
 height: 65px;
 position: relative;
 z-index: 99;
 float: left;
 border: 3px solid #FFF;
 -webkit-border-radius: 4px;
 -moz-border-radius: 4px;
 border-radius: 4px;
 -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.2);
 -moz-box-shadow: 0 1px 2px rgba(0,0,0,0.2);
 box-shadow: 0 1px 2px rgba(0,0,0,0.2);
 overflow: hidden;
}

.comments-list .comment-avatar img {
 width: 100%;
 height: 100%;
}

.reply-list .comment-avatar {
 width: 50px;
 height: 50px;
}

.comment-main-level:after {
 content: '';
 width: 0;
 height: 0;
 display: block;
 clear: both;
}
/**
* Caja del Comentario
---------------------------*/
.comments-list .comment-box {
 width: 680px;
 float: right;
 position: relative;
 -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.15);
 -moz-box-shadow: 0 1px 1px rgba(0,0,0,0.15);
 box-shadow: 0 1px 1px rgba(0,0,0,0.15);
}

.comments-list .comment-box:before, .comments-list .comment-box:after {
 content: '';
 height: 0;
 width: 0;
 position: absolute;
 display: block;
 border-width: 10px 12px 10px 0;
 border-style: solid;
 border-color: transparent #FCFCFC;
 top: 8px;
 left: -11px;
}

.comments-list .comment-box:before {
 border-width: 11px 13px 11px 0;
 border-color: transparent rgba(0,0,0,0.05);
 left: -12px;
}

.reply-list .comment-box {
 width: 610px;
}
.comment-box .comment-head {
 background: #FCFCFC;
 padding: 10px 12px;
 border-bottom: 1px solid #E5E5E5;
 overflow: hidden;
 -webkit-border-radius: 4px 4px 0 0;
 -moz-border-radius: 4px 4px 0 0;
 border-radius: 4px 4px 0 0;
}

.comment-box .comment-head i {
 float: right;
 margin-left: 14px;
 position: relative;
 top: 2px;
 color: #A6A6A6;
 cursor: pointer;
 -webkit-transition: color 0.3s ease;
 -o-transition: color 0.3s ease;
 transition: color 0.3s ease;
}

.comment-box .comment-head i:hover {
 color: #03658c;
}

.comment-box .comment-name {
 color: #283035;
 font-size: 14px;
 font-weight: 700;
 float: left;
 margin-right: 10px;
}

.comment-box .comment-name a {
 color: #283035;
}

.comment-box .comment-head span {
 float: left;
 color: #999;
 font-size: 13px;
 position: relative;
 top: 1px;
}

.comment-box .comment-content {
 background: #FFF;
 padding: 12px;
 font-size: 15px;
 color: #595959;
 -webkit-border-radius: 0 0 4px 4px;
 -moz-border-radius: 0 0 4px 4px;
 border-radius: 0 0 4px 4px;
}

.comment-box .comment-name.by-author, .comment-box .comment-name.by-author a {color: #03658c;}
.comment-box .comment-name.by-author:after {
 content: 'autor';
 background: #03658c;
 color: #FFF;
 font-size: 12px;
 padding: 3px 5px;
 font-weight: 700;
 margin-left: 10px;
 -webkit-border-radius: 3px;
 -moz-border-radius: 3px;
 border-radius: 3px;
}

/** =====================
* Responsive
========================*/

/*************************/
/*************************/
/*    video PAGE */
/*************************/
/*************************/
.Vsection{
 background-color: #0d0e0d;
}
.Comment{
  padding: 2%;
  margin-left: 5%;
  width: 500px;
  height: 450px;
  border-style:double;
  background-color: #0d0e0d;
  display: grid;
}
.CbxHeader{
  text-align: left;
  padding: 0.5%;
  display: flex;
}
.CbxHeader img{
  border-radius: 30px;
}
.CbxHeader span {
  margin-top: 2rem;
  padding-left: 1rem;
  
}
.vide{
  display:flex;
  padding-left: 5% ;
}
.Vicon{
  text-align: left;
  padding-left: 5% ; 
  /* padding-bottom: 10%; */
}
.comm button{
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 12px;
  border-style:none;
  padding: 0.5rem;
  background-color: rgb(7, 19, 177);
  margin-left: 1rem;
  border-radius: 0.3rem;
  
}